<html>
    <head>
    </head>
    <body>
    <h1>Server sent events</h1>
    <div id="this-div">

    </div>
    <script type="text/javascript">
     var targetContainer = document.getElementById("this-div");
     var eventSource = new EventSource("/stream");
     eventSource.onmessage = function(e) {
        console.log(e.data);
        obj = JSON.parse(e.data);
        var str = '<ul style="list-style-type:circle">';
        Object.keys(obj).forEach(function(key) {
            str += '<li><a href="#">'+key+':'+obj[key]['name']+'</a></li>';
        })
        str += '</ul>';
        targetContainer.innerHTML = str;
     };
    </script>
    </body>
</html>