<html>
    <head>
    </head>
    <body>
    <h1>Wristbands in Range</h1>
    <div>
    <form action="/logout">
      <select name="cars" size="6" id="listbox">
      </select>
      <br><br>
      <input type="submit" value="Connect">
    </form>
    </div>
    <script type="text/javascript">
     var targetContainer = document.getElementById("listbox");
     var eventSource = new EventSource("/stream");
     var prev_obj = new Object();
     eventSource.onmessage = function(e) {
        console.log(e.data);
        obj = JSON.parse(e.data);
        var equals = Object.keys(prev_obj).join("").localeCompare(Object.keys(obj).join("")) == 0;// element-wise compare
        if(equals)
            return;
        prev_obj = obj;
        var str = '';
        Object.keys(obj).forEach(function(key) {
            str += '<option value="'+key+'">'+obj[key]['name']+'</option>';
        })
        targetContainer.innerHTML = str;
     };
    </script>
    </body>
</html>