<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Smart Device Overview</h1>
  <p>Check Your Friends' Heart Rate in Real Time!</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
        <h3>Devices in Range</h3>
      <form>
          <div class="form-group">
            <select multiple name="scanned" class="form-control" id="listbox">
            </select>
          </div>
        <button id="connectButton" class="btn btn-primary" name="/connect_device">Connect</button>
      </form>
    </div>
    <div class="col-sm-4">
        <h3>Connected Devices</h3>
      <form>
          <div class="form-group">
            <select multiple name="connected" class="form-control" id="connectedlist">
            </select>
          </div>
        <button id="disconnectButton" class="btn btn-primary" name="/disconnect_device">Disconnect</button>
        <button id="startHrButton" class="btn btn-primary" name="/start_measure_hr">Heart Rate</button>
          <br><br>
        <button id="stopHrButton" class="btn btn-primary" name="/stop_measure_hr">Stop Measure</button>
      </form>
    </div>
    <div class="col-sm-4">
      <h3>Heart Rate Monitor</h3>
      <div id="heartRateDisplay"></div>
    </div>
  </div>
</div>
<script src="{{url_for('static', filename='overview.js')}}"></script>
</body>
</html>
